.phello {
    margin-top: 0;
    width: 100vw;
    height: 400px;
    position: absolute;
    z-index: -1;
    background-color: aqua;
    background-image: url("../TopImages/wave.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
