/* .home {
    margin-left: 200px;
} */

.App {
    display: flex;
    min-height: 99vh;
    position: relative;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
    color:darkturquoise;
}